/*
=================================================
GLOBAL
=================================================
*/
.btn {
  border-radius: 0;
}
/*
=================================================
TYPOGRAPHY
=================================================
*/
body {
  font-family: "Roboto", sans-serif;
  font-weight:100;
}
h1,
h2,
h3{
  font-family: "Abril Fatface", sans-serif;
  font-weight: 400;
}
h4{
  font-weight:700;
}
h5{
  font-weight:500;
}

/*
=================================================
NAVBAR
=================================================
*/
.navbar-brand {
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
}

.navbar-brand span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #777;
}

.navbar li {
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
/*
=================================================
HERO
=================================================
*/
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  text-transform: uppercase;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.wax-logo{
  filter:saturate(0%) opacity(50%);
  max-width:100px;
}

/*
=================================================
HOW TO
=================================================
*/
.how-to i{
  font-size:48px;
}
.how-to a{
  color:#FFF;
  text-decoration:none;
}

/*
=================================================
BUILDER
=================================================
*/
.cover-art {
  max-height:400px;
}
label{
  font-weight:500;
}
.message{
  height:200px;
}
::placeholder{
  font-weight: 100;
}

/*
=================================================
FOOTER
=================================================
*/
.footer {
  background-color: #000000;
}
.footer p {
  color: #ffffff;
}
.footer h4 {
  font-size: 16px;
  font-weight: 700;
  color: #f8f9fa;
}
.footer a {
  text-decoration: none;
  color: #f8f9fa;
  font-weight: 300;
}
.mailchimp {
  position: relative;
  top: -3rem;
  padding-bottom: 16px;
}
.mailchimp a {
  clear: both;
  display: block;
}